.success_message
{
    color: aliceblue !important;
    background: green;
    padding: 7px 5px 7px 10px;
    text-align: left !important;
}

.error_message
{
    color: aliceblue !important;
    background: red;
    padding: 7px 5px 7px 10px;
    text-align: left !important;
}

.minimize
{
    max-width: 250px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
